body{
  padding: 0;
  margin: 0;
}

nav{
    background: gray;

    text-align: center;
    font-family: georgia, sans-serif;
}

nav a{
    text-align: center;
    color: white;
    font-size: 1.5em;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
main{
    margin: 20px auto;
    display: flex;
    flex: wrap;
}

.flexItem{
    flex-basis: 300px;
    flex-grow: 2;
    margin: 2px;
    background: yellow;
    padding: 30px;

}

img{
    width: 100%;
    display: block;
    margin: 1% auto;
    border: 0;
}

@media screen and (min-width: 700px) {
        .flexItem{
          height: 400px;
        }
        .vertical{
          width: 30%;
        }
        img{
            width:30%;
            display: inline;
        }
        .vertical{
          width: 20%;
        }


}

@media screen and (min-width: 700px) {
        img{
            width:30%;
            display: inline;
        }




      }
@media screen and (min-width: 1300px) {

      img{
          display: none;
          width: 30%;
      }
